body {
  color: #90949c;

  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;

  font-size: 15px;
  text-align: right;


  width: 100vw;
  height: 25px;
  padding: 0 12vw;
}

#bluebar {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;

  font-size: 35px;
  font-weight: 500;

  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 80px;
  width: 100vw;
  padding: 0 12vw;
}

#header {
  color: #fff;
  position: absolute;
  bottom: 8px;
  margin: 0;
}

#body {
  position: fixed;
  width: 100vw;
  margin-top: 80px;
  padding: 20px 12vw;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: #1d2129;
  margin-bottom: 0;
}

.btn {
  margin-top: 3px;
  width: 100%;
}

.icon {
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 7px;
}

#icons i {
  font-size: 30px;
  color: #1d2129;
}
